.App {
  text-align: center;
}

/* svg {
  background-color: rgb(221, 217, 217);
} */

rect {
  fill: blueviolet;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.8em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
    font-size: 2.3em;
    fill: #635F5D;
}

.title {
  font-size: 2.2em;
  fill: #635F5D;
}

.line-path {
  fill: lime;
  stroke: rgb(19, 214, 51);
  stroke-linejoin: round;
}